<div th:fragment="index-test-box" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="site-title">
        <fieldset><legend><a name="use">测试模块</a></legend></fieldset>
    </div>
    <div class="site-text site-block">
        <form class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label">URL</label>
                <div class="layui-input-block">
                    <input type="text" name="url" placeholder="请输入url" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-row layui-col-space10 layui-form-item">
                <div class="layui-col-lg4">
                    <label class="layui-form-label">key</label>
                    <div class="layui-input-block">
                        <input type="text" name="key" placeholder="请输入key" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-lg8">
                    <label class="layui-form-label">xpath</label>
                    <div class="layui-input-block">
                        <input type="text" name="xpath" placeholder="请输入xpath" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10 layui-form-item">
                <div class="layui-col-lg4">
                    <label class="layui-form-label">key</label>
                    <div class="layui-input-block">
                        <input type="text" name="key" placeholder="请输入key" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-lg8">
                    <label class="layui-form-label">xpath</label>
                    <div class="layui-input-block">
                        <input type="text" name="xpath" placeholder="请输入xpath" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" id="submit1">提交</a>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body" id="test_result_box">

            卡片式面板面板通常用于非白色背景色的主体内<br>
            从而映衬出边框投影
        </div>
    </div>
</div>