<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="layui-header">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="">控制台<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="/spider/crawlTask">任务管理</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">数据解析规则</a>
            </li>
            <li class="layui-nav-item">
                <a href="">解析规则调试</a>
            </li>
            <li class="layui-nav-item">
                <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>